
<h1>{{pirates.name}} </h1>
<h2>birthplace: {{ pirates.birthplace }}</h2>
<h2>death_year: {{pirates.death_year}}</h2>
<h2>base: {{pirates.base}}</h2>
<h2>nickname: {{pirates.nickname}}</h2>
<a href="/pirates/{{id}}edit"> Edit </a>

<a href="/pirates"> go back </a>
